# API
fastapi
uvicorn[standard]
gunicorn
python-multipart
aiofiles

# Environment
python-dotenv

# Google Drive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Document parsing
pypdf
python-docx

# LLM
groq